body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  background-image: url('../Images/Background-Image.JPEG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


h1, h2 {
  text-align: center;
}

h1 { color: slateblue; }
h2 { color: purple; }

p {
  color: blueviolet;
  text-align: center;
  margin: 10px;
}


img {
  display: block;
  margin: 0 auto;          
  max-width: 100%;         
  height: auto;
  border-radius: 25px;
}


.container {
  background-color: orange;
  color: blueviolet;
  border-radius: 10px;
  text-align: center;

  max-width: 800px;
  margin: 20px auto;      
  padding: 15px;
}


nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  width: 100%;
}

body {
  margin: 0;
}

ul li {
  float: none; 
}

ul li a {
  display: block;
  color: slateblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: red;
}


input[type=text], select, textarea {
  width: 98%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: blueviolet;
  color: orange;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.demo{
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

input[type=submit]:hover {
  background-color: purple;
}

.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: purple;
  color: orange;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid blueviolet;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: orange;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: white;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: purple;
  color: orange;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

footer {
  background-color: orange;
  padding: 10px;
  text-align: center;
  color: lightseagreen;
}


@media (max-width: 480px) {

  html {
    font-size: 110%; 
  }

  h1{
    text-align: center;
  }

  nav{
    text-align: center;
  }

  body {
    overflow-x: hidden;
    width: 100%;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 15px 0;
    padding: 15px;
    border-radius: 12px;
  }

  img {
    width: 70%;
    margin: 15px auto;
  }

  ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  ul li a {
    width: 100%;
    right: 40%;
    text-align: center;
    position: relative;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    margin: 0;
    text-align: center;
  }

  footer {
    align-items: center;
    width: 100%;
  }
}